# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
*.Rdata

DS_Store files from a mac
.DS_Store

#gff and gtf files (too large)
*.gtf
*.gff

#compiled python packages
*.pyc
